---
title: Boys Tennis
layout: site
active: boystennis
---

<!-- Boys Tennis Navbar -->

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
	
			<div class="nav-collapse">
				<ul class="nav">
					<li{% if page.active == 'boystennis' %} class="active"{% endif %}><a href="#">Announcements</a></li>
					<li{% if page.active == 'btcontract' %} class="active"{% endif %}><a href="/pdf/boystenniscontract.pdf">Contract</a></li>
					<li{% if page.active == 'athleticsdocuments' %} class="active"{% endif %}><a href="/athletics.html">Documents</a></li>
					<li{% if page.active == 'btschedule' %} class="active"{% endif %}><a href="/pdf/btschedule.pdf">Schedule</a></li>
					<li{% if page.active == 'grades' %} class="active"{% endif %}><a href="/grades.html">Grades</a></li>
					<li{% if page.active == 'gowoodbridge' %} class="active"{% endif %}><a href="http://www.gowoodbridge.com">Woodbridge Athletics</a></li>
					<li{% if page.active == 'btvideos' %} class="active"{% endif %}><a href="http://www.tennischannel.com/omc/">One Minute Clinics</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<p>Roger Federer</p>