---
title: Overview
navactive: overview
skip_subnav: true
skip_header: true
---
{% include header.html %}

<header>
	<img  width="100%" alt="Woodbridge Quad." src="/images/woodbridgequad.jpg" />
</header>

<div class="hero-unit">
	<p>
		Woodbridge High School's <small>mission is to provide the highest </small>quality <small>educational experiences we can envision in order to empower all </small>students <small>with skills, knowledge and values necessary to </small>meet the challenges<small> of a changing world and to become contributing members </small> of society.
	</p>
</div>

<div class="container">
	<nav class="home-nav">
		<div class="row">
			<div class="span6">
				<a href="/prealgebra/" class="prealgebra">
					<span>Pre-Algebra</span>
				</a>
				<p><strong>Discovering</strong> solutions.</p>
			</div>
			<div class="span6">
				<a href="/algebra2/" class="algebra">
					<span>Algebra Two</span>
				</a>
				<p><strong>Creating</strong> new ways.</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<a href="/girlstennis/" class="girlstennis">
					<span>Girls Tennis</span>
				</a>
				<p><strong>Excelling</strong> on and off the court.</p>
			</div>
			<div class="span6">
				<a href="/boystennis/" class="boystennis">
					<span>Boys Tennis</span>
				</a>
				<p><strong>Practice</strong> makes perfect.</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<a href="/about.html" class="about">
					<span>About</span>
				</a>
				<p>A <strong>life</strong> story.</p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<a href="/contact.html" class="contact">
					<span>Contact</span>
				</a>
				<p><strong>Connecting</strong> by Email, Web, and Phone</p>
			</div>
		</div>
	</nav>
</div>

{% include footer.html %}
