<ul class="nav nav-pills">
	<li{% if page.subactive == 'algebra' %} class="active"{% endif %}><a href="/algebra/">Announcements</a></li>
	<li{% if page.subactive == 'alghomework' %} class="active"{% endif %}><a href="/algebra/homework.html">Homework</a></li>
	<li{% if page.subactive == 'algdocuments' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Concepts 1-10 Videos 
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">1: Order of Operations</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">2: Fraction Operations</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">3: Decimal Operations</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">4: Translate Expressions, Equations, &amp; Inequalities</a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">5: Functions</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">6: Classifying Numbers</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">7: Algebraic Properties</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">8: Simplifying Expressions</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">9: Solving One- &amp; Two-Step Equations</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">10: Solving Multi-Step Equations</a>
		</li>
	</ul>
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Concepts 11-20 Videos 
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">11: Fraction Busters</a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">12: Solving Proportions</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">13: Solving Literal Equations</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">14: Point Test for Linear Equations</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">15: Vertical &amp; Horizontal Lines</a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">16: Graphing on a Restricted Domain</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">17: Graphing Lines Using Intercepts</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">18: Finding Slope &amp; Rate of Change</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">19: Slope Intercept Form</a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">20: Graphing Lines in Slope Intercept Form</a>
		</li>
	</ul>
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Concepts 21-30 Videos 
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">21: Linear Functions</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">22: Writing Linear Equations Given Point &amp; Slope</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">23: Writing Linear Equations Given Two Points</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">24: Point-Slope Form</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">25: Standard Form</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">26: Parallel &amp; Perpendicular Lines</a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">27: Writing Linear Equations - Parallel &amp; Perpendicular Lines</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">28: Point Test for Linear System</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">29: Solving Linear Systems by Graphing </a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">30: Solving Linear Systems by Substitution</a>
		</li>
	</ul>
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Concepts 31-37 Videos 
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">31: Solving Linear Systems by Elimination</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">32: Number of Solutions in Linear System</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">33: Solving Inequalities</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">34: Solving Compound Inequalities </a>
		</li>
		<li>
			<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">35: Solve Absolute Value Equations Linear Equations</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">36: Graphing Linear Inequalities</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">37:Solving Systems of Linear Inequalities</a>
		</li>
	</ul>
	</li>
	<li{% if page.subactive == 'alggrades' %} class="active"{% endif %}><a href="/algebra/grades.html">Grades</a></li>
	<li{% if page.subactive == 'algdocuments' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Documents
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/algebra/algsyllabus.pdf" target="_blank">Syllabus</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">Procedures</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">Concept Quiz Checklist</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">Online Book Info</a>
		</li>
	</ul>
	</li>
</ul>