<ul class="nav nav-pills">
	<li{% if page.subactive == 'algebra2' %} class="active"{% endif %}><a href="/algebra2/">Announcements</a></li>
	<li{% if page.subactive == 'alg2homework' %} class="active"{% endif %}><a href="/algebra2/homework.html">Homework</a></li>
	<li{% if page.subactive == 'alg2calendar' %} class="active"{% endif %}><a href="/algebra2/calendar.html">Calendar</a></li>
	<li{% if page.subactive == 'alg2grades' %} class="active"{% endif %}><a href="/algebra2/grades.html">Grades</a></li>
	<li{% if page.subactive == 'alg2documents' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
		Documents
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/algebra/algsyllabus.pdf" target="_blank">Syllabus</a>
		</li>
		<li>
			<a href="/pdf/common/procedure.pdf" target="_blank">Procedures</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="/algebra/spring/cqexplanation.pdf" target="_blank">Concept Quiz Scoring Guide</a>
		</li>
		<li>
			<a href="/algebra/spring/springcqa.pdf" target="_blank">Spring Concept Checklist</a>
		</li>
		<li>
			<a href="/pdf/algebra/cca12-13.pdf" target="_blank">Fall Concept Checklist</a>
		</li>
		<li>
			<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">Online Book Info</a>
		</li>
	</ul>
	</li>
</ul>