<ul class="nav nav-pills">
	<li{% if page.subactive == 'boystennis' %} class="active"{% endif %}><a href="/boystennis/">Announcements</a></li>
	<!--		
	<li{% if page.subactive == 'btexpectations' %} class="active"{% endif %}><a href="/gtexpectations.html">Expectations</a></li>
	<li{% if page.subactive == 'btcalendar' %} class="active"{% endif %}><a href="/pdf/btcalendar.pdf">2012 Calendar</a></li>
	<li{% if page.subactive == 'grades' %} class="active"{% endif %}><a href="/grades.html">Grades</a></li>
	<li{% if page.subactive == 'padocuments' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">Documents
	<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	<li>
	<a href="/pdf/btcontract.pdf" target="_blank">Team Contract</a>
	</li>
	<li>
	<a href="/pdf/codeofconduct.pdf" target="_blank">Code of Conduct</a>
	</li>
	<li>
	<a href="/pdf/iusdhandbook.pdf" target="_blank">IUSD Athletics Handbook</a>
	</li>
	<li>
	<a href="/pdf/stuathhandbook.pdf" target="_blank">Student Athlete Handbook</a>
	</li>
	<li>
	<a href="/pdf/parenthoodbook.pdf" target="_blank">Parent Handbook</a>
	</li>
	<li class="divider"></li>
	</li>
	<li>
	<a href="/pdf/btschedule.pdf" target="_blank">2013 Match Schedule</a>
	</li>
	</ul>	
	</li> 
	-->
	<li{% if page.active == 'gowoodbridge' %} class="active"{% endif %}><a href="http://www.gowoodbridge.com" target="_blank">Woodbridge Athletics</a></li>
	<li{% if page.active == 'gtvideos' %} class="active"{% endif %}><a href="http://www.tennischannel.com/omc/" target="_blank">One Minute Clinics</a></li>
</ul>