<ul class="nav nav-pills">
	<li{% if page.subactive == 'girlstennis' %} class="active"{% endif %}><a href="/girlstennis/">Announcements</a></li>
	<!--
	<li{% if page.subactive == 'gtcontract' %} class="active"{% endif %}><a href="/pdf/girlstennis/gtcontract.pdf" target="_blank">Team Contract and Expectations</a></li> 
	-->
	<li{% if page.subactive == 'gtcalendar' %} class="active"{% endif %}><a href="/pdf/girlstennis/gtschedule.pdf" target="_blank">2012 Match Schedule</a></li>
	<li{% if page.subactive == 'gtresults' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">Match Results
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/girlstennis/sagehill.pdf" target="_blank">9/5: Sage Hill</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/newportharbor.pdf" target="_blank">9/6: Newport Harbor</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/huntingtonbeach.pdf" target="_blank">9/12: Huntington Beach</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/alisoniguel.pdf" target="_blank">9/13: Aliso Niguel</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/lagunahills.pdf" target="_blank">9/19: Laguna Hills </a>		
		</li>
		<li>
			<a href="/pdf/girlstennis/villapark.pdf" target="_blank">9/26: Villa Park</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="/pdf/girlstennis/northwood1.pdf" target="_blank">9/20: Northwood (H)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/beckman1.pdf" target="_blank">9/25: Beckman (A)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/university1.pdf" target="_blank">9/27: University (H)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/cdm1.pdf" target="_blank">10/2: Corona del Mar (A)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/irvine1.pdf" target="_blank">10/4: Irvine (A)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/northwood2.pdf" target="_blank">10/9: Northwood (A)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/beckman2.pdf" target="_blank">10/11: Beckman (H)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/northwoodtb.pdf" target="_blank">10/15: Northwood Tie-break (A)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/university2.pdf" target="_blank">10/16: University (H)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/cdm2.pdf" target="_blank">10/18: Corona del Mar (H)</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/irvine2.pdf" target="_blank">10/22: Irvine (H)</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="/pdf/girlstennis/newburypark.pdf" target="_blank">10/30: Newbury Park (CIF)</a>
		</li>
		
		<!--
		<li class="divider"></li>
		<li>
			<a href="http://iusd.org/parent_resources/AthleticProgram-AthleticsHandbook.pdf" target="_blank">Student Athlete Handbook</a>
		</li>
		<li>
			<a href="http://iusd.org/parent_resources/AthleticProgram-ParentsHandbook.pdf" target="_blank">Parent Handbook</a>
		</li>	-->	 
	</ul>	
	</li>
	<li{% if page.subactive == 'gtgrades' %} class="active"{% endif %}><a href="/girlstennis/grades.html">Grades</a></li>
	<li{% if page.subactive == 'gtphotos' %} class="active"{% endif %}><a href="http://woodbridgehighschoolgirlstennis.shutterfly.com/" target="_blank">Photos</a></li>
	<li{% if page.subactive == 'gtdocuments' %} class="active"{% endif %} class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">Documents
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="/pdf/girlstennis/girlstryapp.pdf" target="_blank">Tryout Application</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="http://www.gowoodbridge.com/Athlete%20Privacy/privacy.html" target="_blank">Athlete Priavcy</a>
		</li>
		<li>
			<a href="http://www.gowoodbridge.com/athletic_screenings/screenings.html" target="_blank">Athletic Clearance Forms</a>
		</li>
		<li>
			<a href="http://www.gowoodbridge.com/cofc.html" target="_blank">Code of Conduct</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="http://iusd.org/parent_resources/AthleticProgram-AthleticsHandbook.pdf" target="_blank">Student Athlete Handbook</a>
		</li>
		<li>
			<a href="http://iusd.org/parent_resources/AthleticProgram-ParentsHandbook.pdf" target="_blank">Parent Handbook</a>
		</li>	
		<li>
			<a href="/pdf/girlstennis/vsnack.pdf" target="_blank">Varsity Snack</a>
		</li>
		<li>
			<a href="/pdf/girlstennis/jvsnack.pdf" target="_blank">JV Snack</a>
		</li>	 
	</ul>	
</li>
<li{% if page.active == 'gowoodbridge' %} class="active"{% endif %}><a href="http://www.gowoodbridge.com" target="_blank">Woodbridge Athletics</a></li>
<li{% if page.active == 'gtvideos' %} class="active"{% endif %}><a href="http://www.tennischannel.com/omc/" target="_blank">One Minute Clinics</a></li>
</ul>