<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mr. Sabado :: {{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href='http://fonts.googleapis.com/css?family=Tenor+Sans' rel='stylesheet' type='text/css'>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/mrsabado.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body data-spy="scroll" data-target="subnav" data-offset="100" data-twttr-rendered="true">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/about.html">Mr. Sabado</a>
				<a class="whslogo" href="#">Go Warriors!!!</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li{% if page.navactive == 'overview' %} class="active"{% endif %}><a href="/">Overview</a></li>
						<li{% if page.navactive == 'prealgebra' %} class="active"{% endif %}><a href="/prealgebra/">Pre-Algebra</a></li>
						<li{% if page.navactive == 'algebra' %} class="active"{% endif %}><a href="/algebra/">Algebra One</a></li>
						<li{% if page.navactive == 'girlstennis' %} class="active"{% endif %}><a href="/girlstennis.html">Girls Tennis</a></li>
						<li{% if page.navactive == 'boystennis' %} class="active"{% endif %}><a href="/boystennis/">Boys Tennis</a></li>
						<li{% if page.navactive == 'contact' %} class="active"{% endif %}><a href="/contact.html">Contact</a></li>
						<li class="divider-vertical"></li>
						<li{% if page.navactive == 'whs' %} class="active"{% endif %}><a href="http://www.woodbridgehigh.org/" target="_blank">WHS</a></li>
						<li{% if page.navactive == 'iusd' %} class="active"{% endif %}><a href="http://iusd.org/" target="_blank">IUSD</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	
	{% unless page.skip_subnav %}
	<nav class="jumbotron subhead" id="overview">
		<div class="subnav subnav-fixed">
			<div class="container">
				{% include subnav.html %}
			</div>
		</div>
	</nav>
	{% endunless %}

