<ul class="nav nav-pills">
	<li{% if page.subactive == 'prealgebra' %} class="active"{% endif %}><a href="/prealgebra/">Announcements</a></li>
	<li{% if page.subactive == 'pahomework' %} class="active"{% endif %}><a href="/prealgebra/homework.html">Homework</a></li>
	<li{% if page.subactive == 'pacalendar' %} class="active"{% endif %}><a href="/prealgebra/calendar.html">Calendar</a></li>
	<li{% if page.subactive == 'pagrades' %} class="active"{% endif %}><a href="/prealgebra/grades.html">Grades</a></li>
	<li{% if page.subactive == 'pavideos' %} class="active"{% endif %}><a href="http://www.khanacademy.org/math/arithmetic" target="_blank">Pre-Algebra Videos</a></li>
	<li{% if page.subactive == 'padocuments' %} class="active"{% endif %} class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">Documents
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		    <li>
				<a href="/pdf/prealgebra/pasyllabus.pdf" target="_blank">Syllabus</a>
			</li>
			 <li>
				<a href="/pdf/common/procedures.pdf" target="_blank">Procedures</a>
			</li>
			<li class="divider"></li>
			</li>
			 <li>
				<a href="/pdf/prealgebra/papledge.pdf" target="_blank">Student/Parent Pledge</a>
			</li>
		</ul>
	</li>
</ul>
