<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li{% if page.active == 'prealgebra' %} class="active"{% endif %}><a href="#">Announcements</a></li>
				<li{% if page.active == 'pasyllabus' %} class="active"{% endif %}><a href="/pdf/prealgebrasyllabus.pdf">Syllabus</a></li>
				<li{% if page.active == 'pahomework' %} class="active"{% endif %}><a href="/prealgebrahomework.html">Homework</a></li>
				<li{% if page.active == 'pacalendar' %} class="active"{% endif %}><a href="/prealgebracalendar.html">Calendar</a></li>
				<li{% if page.active == 'padocuments' %} class="active"{% endif %}><a href="/prealgebradocuments.html">Documents</a></li>
				<li{% if page.active == 'grades' %} class="active"{% endif %}><a href="/grades.html">Grades</a></li>
				<li{% if page.active == 'pavideos' %} class="active"{% endif %}><a href="http://www.khanacademy.org/math/arithmetic">Pre-Algebra Videos</a></li>
			</ul>
		</div>
	</div>
</div>