---
title: Algebra One
layout: site
navactive: algebra
subactive: algconcepts
---
<div class="container">
<div class="row">
	<div class="span3">
		<h3>Concept Check List</h3>
		<p class="announcements">Click <a href="/pdf/algebra/cca12-13.pdf" target="_blank">here</a> if you need an extra copy of the Check List.</p>
		<p class="announcements"><strong>Concept Quiz</strong> scores on Grade Portal are explained in more detail <a href="/pdf/algebra/cqexplanation.pdf" target="_blank">here</a>.</p>
		<p><strong>Online Videos</strong> on each concept can be found in the table to the right.  If you missed class due to an absence, make sure to watch the videos of the concepts you missed.</p>
	</div>
	<div class="span9">
		<h3>Concept Directory</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Number</th>
					<th>Concept</th>
					<th>Textbook</th>
					<th>CA Standard</th>
					<th>Video/Resource</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="badge badge-warning">1</span>
					</td>
					<td>
						<p><strong>Order of Operations</strong></p>
					</td>
					<td>
						<p>Sections 1.1-1.2</p>
					</td>
					<td>
						<p>Review: 25.2</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">Intro</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/more-complicated-order-of-operations-example" target="_blank">Complex</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-error">2</span>
					</td>
					<td>
						<p><strong>Fraction Operations</strong></p>
					</td>
					<td>
						<p>Pages 914-915</p>
					</td>
					<td>
						<p>Review</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/fractions/v/adding-and-subtracting-fractions" target="_blank">Adding and Subtracting</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/fractions/v/multiplying-fractions" target="_blank">Multiplying</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/fractions/v/dividing-fractions" target="_blank">Dividing</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-inverse">3</span>
					</td>
					<td>
						<p><strong>Decimal Operations</strong></p>
					</td>
					<td>
						<p>Pages 939</p>
					</td>
					<td>
						<p>Review</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/decimals/v/adding-decimals" target="_blank">Adding</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/decimals/v/subtracting-decimals" target="_blank">Subtracting</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/decimals/v/multiplying-decimals" target="_blank">Multiplying</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/decimals/v/dividing-decimals" target="_blank">Dividing</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-info">4</span>
					</td>
					<td>
						<p><strong>Translate Expressions, Equations, &amp; Inequalities</strong></p>
					</td>
					<td>
						<p>Sections 1.3-1.4</p>
					</td>
					<td>
						<p>Review</p>
					</td>
					<td>
						<ul>
						<li><p><a href="/pdf/algebra/translatewords.pdf" target="_blank">Translation Dictionary</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-success">5</span>
					</td>
					<td>
						<p><strong>Functions</strong></p>
					</td>
					<td>
						<p>Sections 1.6-1.7 + Page 49-50</p>
					</td>
					<td>
						<p>16.0-18.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/algebra-functions/v/domain-and-range-2" target="_blank">Domain and Range</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/algebra-functions/v/testing-if-a-relationship-is-a-function" target="_blank">Is it a function? <small>Version 1</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/algebra-functions/v/graphical-relations-and-functions" target="_blank">Is it a Function? <small>Version 2</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/algebra-functions/v/functional-relationships-1" target="_blank">Is it a Function? <small>Version 3</small></a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-warning">6</span>
					</td>
					<td>
						<p><strong>Classifying Numbers</strong></p>
					</td>
					<td>
						<p>Sections 2.1</p>
					</td>
					<td>
						<p>1.0, 1.1</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.mathsisfun.com/sets/number-types.html" target="_blank">Types of Numbers</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-error">7</span>
					</td>
					<td>
						<p><strong>Algebraic Properties</strong></p>
					</td>
					<td>
						<p>Sections: 2.2-2.6</p>
					</td>
					<td>
						<p>1.0, 2.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/number-properties" target="_blank">Videos</a></p></li>
						<li><p><a href="http://www.regentsprep.org/Regents/math/ALGEBRA/AN1/properties.htm" target="_blank">Catalog</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-inverse">8</span>
					</td>
					<td>
						<p><strong>Simplifying Expressions</strong></p>
					</td>
					<td>
						<p>Section 2.5</p>
					</td>
					<td>
						<p>4.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/combining-like-terms" target="_blank">Combining Like Terms</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/combining-like-terms-and-the-distributive-property" target="_blank">Combining Like Terms and Distributive Property</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-info">9</span>
					</td>
					<td>
						<p><strong>Solving One- &amp; Two-Step Equations</strong></p>
					</td>
					<td>
						<p>Sections 3.1-3.2</p>
					</td>
					<td>
						<p>5.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/why-we-do-the-same--thing-to-both-sides--simple-equations" target="_blank">One-Step Equations <small>Version 1</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/solving-one-step-equations-2" target="_blank">One-Step Equations <small>Version 2</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/equations-2" target="_blank">Two-Step Equations</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-success">10</span>
					</td>
					<td>
						<p><strong>Solving Multi-Step Equations</strong></p>
					</td>
					<td>
						<p>Sections 3.3-3.4</p>
					</td>
					<td>
						<p>4.0, 5.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/why-we-do-the-same--thing-to-both-sides-multi-step-equations" target="_blank">Multi-Step Equations <small>Version 1</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/equations-with-variables-on-both-sides" target="_blank">Multi-Step Equations <small>Version 2</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/solving-equations-with-the-distributive-property" target="_blank">Multi-Step Equations with Distributive Property</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-warning">11</span>
					</td>
					<td>
						<p><strong>Fraction Busters</strong></p>
					</td>
					<td>
						<p>Sections 3.4</p>
					</td>
					<td>
						<p>4.0, 5.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/solving-equations-with-the-distributive-property-2" target="_blank">Fraction Busters</a></p></li>
						</ul>
					</td>
				</tr>
				
				<!--
				<tr>
					<td>
						<span class="badge badge-error">12</span>
					</td>
					<td>
						<p><strong>Solving Proportions</strong></p>
					</td>
					<td>
						<p>Sections: 2.2-2.6</p>
					</td>
					<td>
						<p>1.0, 2.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/arithmetic/number-properties" target="_blank">Videos</a></p></li>
						<li><p><a href="http://www.regentsprep.org/Regents/math/ALGEBRA/AN1/properties.htm" target="_blank">Catalog</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-inverse">13</span>
					</td>
					<td>
						<p><strong>Solving Literal Equations</strong></p>
					</td>
					<td>
						<p>Section 2.5</p>
					</td>
					<td>
						<p>4.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/combining-like-terms" target="_blank">Combining Like Terms</a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/combining-like-terms-and-the-distributive-property" target="_blank">Combining Like Terms and Distributive Property</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-info">14</span>
					</td>
					<td>
						<p><strong>Point Test for Linear Equations</strong></p>
					</td>
					<td>
						<p>Sections 3.1-3.2</p>
					</td>
					<td>
						<p>5.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/why-we-do-the-same--thing-to-both-sides--simple-equations" target="_blank">One-Step Equations <small>Version 1</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/solving-one-step-equations-2" target="_blank">One-Step Equations <small>Version 2</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/equations-2" target="_blank">Two-Step Equations</a></p></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<span class="badge badge-success">15</span>
					</td>
					<td>
						<p><strong>Vertical &amp; Horizontal Lines</strong></p>
					</td>
					<td>
						<p>Sections 3.3-3.4</p>
					</td>
					<td>
						<p>4.0, 5.0</p>
					</td>
					<td>
						<ul>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/why-we-do-the-same--thing-to-both-sides-multi-step-equations" target="_blank">Multi-Step Equations <small>Version 1</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/equations-with-variables-on-both-sides" target="_blank">Multi-Step Equations <small>Version 2</small></a></p></li>
						<li><p><a href="http://www.khanacademy.org/math/algebra/solving-linear-equations-and-inequalities/v/solving-equations-with-the-distributive-property" target="_blank">Multi-Step Equations with Distributive Property</a></p></li>
						</ul>
					</td>
				</tr>
				
				-->
			</tbody>
		</table>


<!--


		<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">16: Graphing on a Restricted Domain</a>
	</li>
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">17: Graphing Lines Using Intercepts</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">18: Finding Slope &amp; Rate of Change</a>
	</li>
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">19: Slope Intercept Form</a>
	</li>
	<li>
		<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">20: Graphing Lines in Slope Intercept Form</a>
	</li>
</ul>
</li>
<li{% if page.subactive == 'algdocuments' %} class="active"{% endif %} class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
	Concepts 21-30 Videos 
	<b class="caret"></b>
</a>
<ul class="dropdown-menu">
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">21: Linear Functions</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">22: Writing Linear Equations Given Point &amp; Slope</a>
	</li>
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">23: Writing Linear Equations Given Two Points</a>
	</li>
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">24: Point-Slope Form</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">25: Standard Form</a>
	</li>
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">26: Parallel &amp; Perpendicular Lines</a>
	</li>
	<li>
		<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">27: Writing Linear Equations - Parallel &amp; Perpendicular Lines</a>
	</li>
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">28: Point Test for Linear System</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">29: Solving Linear Systems by Graphing </a>
	</li>
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">30: Solving Linear Systems by Substitution</a>
	</li>
</ul>
</li>
<li{% if page.subactive == 'algdocuments' %} class="active"{% endif %} class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">
	Concepts 31-37 Videos 
	<b class="caret"></b>
</a>
<ul class="dropdown-menu">
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">31: Solving Linear Systems by Elimination</a>
	</li>
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">32: Number of Solutions in Linear System</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">33: Solving Inequalities</a>
	</li>
	<li>
		<a href="/pdf/algebra/OnlineTextbookActivation.pdf" target="_blank">34: Solving Compound Inequalities </a>
	</li>
	<li>
		<a href="http://www.khanacademy.org/math/arithmetic/order-of-operations/v/introduction-to-order-of-operations" target="_blank">35: Solve Absolute Value Equations Linear Equations</a>
	</li>
	<li>
		<a href="/pdf/common/procedure.pdf" target="_blank">36: Graphing Linear Inequalities</a>
	</li>
	<li>
		<a href="/pdf/algebra/cca12-13.pdf" target="_blank">37:Solving Systems of Linear Inequalities</a>
	</li>
</ul>
</li>
-->
</div>
</div>