body {
	padding-top: 40px;
	padding-bottom: 40px;
}

a {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #ffff00;
	text-decoration: none;
}

a:hover {
text-decoration: none;
}
	
p.q {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0;
}

h2.q {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0;
}

h7 {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.navbar-fixed-top .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
}

.subnav-fixed {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1020;
	color:#999999;
	border-radius: 0;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
color: white;
background-color: #cc0000;
}

.nav > li > a:hover {
text-decoration: none;
background-color: #ffff00;
color: #cc0000;
}

.subhead {
	padding-bottom: 0;
	margin-bottom: 50px;
}

.subnav {
	width: 100%;
	height: 36px;
	background-color: #333333;
	background-repeat: repeat-x;
	border: 1px solid #333333;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

.home-nav a {
	display: block;
	border: 20px solid #eee;
	border-radius: 10px;
	margin-bottom: 30px;
	opacity: 0.8;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size:cover; 
	-webkit-background-size:cover; 
	background-size: 100% cover;
	color: #fff;
	height: 177px;
	font-family: 'Tenor Sans', Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,0.5) 3px 3px 6px;
}

.home-nav a span {
	display: block;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 75px;
}

.home-nav a:hover {
	opacity: 1;
	text-decoration: none;
}

.home-nav .contact {
	background-image: url(/images/contact.jpg);
}

.home-nav .about {
	background-image: url(/images/about.jpg);
}

.home-nav .prealgebra {
	background-image: url(/images/math.jpg);
}

.home-nav .algebra {
	background-image: url(/images/algebra.jpg);
}

.home-nav .girlstennis {
	background-image: url(/images/girlstennis.jpg);
}

.home-nav .boystennis {
	background-image: url(/images/boystennis.jpg);
}

.top-banner a {
	display: block;
	border: 0px solid #eee;
	border-radius: 10px;
	margin-bottom: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size:cover; 
	-webkit-background-size:cover; 
	background-size: 100% cover;
	color: #fff;
	height: 177px;
	font-family: 'Tenor Sans', Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,0.5) 3px 3px 6px;
}

.top-banner a span {
	display: block;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 75px;
}

.top-banner a:hover {
	text-decoration: none;
}
	
.top-banner .contact {
	background-image: url(/images/contact.jpg);
	margin-top: 12px;
}

.top-banner .prealgebra {
	background-image: url(/images/math.jpg);
}

.top-banner .algebra {
	background-image: url(/images/algebra.jpg);
}

.top-banner .girlstennis {
	background-image: url(/images/girlstennis.jpg);
}

.top-banner .boystennis {
	background-image: url(/images/boystennis.jpg);
}

.top-banner .about {
	background-image: url(/images/about.jpg);
	margin-top: 12px;
}

.contact-nav p {
	width: 100%;
	margin-top: -7px;
	padding: 12px 0 10px;
	line-height: 1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.075);
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.contact-nav a {
	display: block;
	border: 0px solid #eee;
	border-radius: 10px;
	margin-bottom: 0px;
	opacity: 0.65;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size:cover; 
	-webkit-background-size:cover; 
	background-size: 100% cover;
	color: #fff;
	height: 177px;
	font-family: 'Tenor Sans', Helvetica, sans-serif;
	text-shadow: rgba(0,0,0,0.5) 3px 3px 6px;
}

.contact-nav a span {
	display: block;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: 75px;
}

.contact-nav a:hover {
	opacity: 1;
	text-decoration: none;
}

.contact-nav .math {
	background-image: url(/images/prealgebra.jpg);
}

.contact-nav .tennis {
	background-image: url(/images/tennis.jpg);
}

.table a {
	color: #999999;
	text-decoration: none;
}

.table a:hover {
	color: #cc0000;
	text-decoration: none;
}

.sidepage-image  {
	display: block;
	width: 90%;
	padding-left: 10px;
	padding-bottom: 15px;
	
}

.announcements  li {
	list-style: none;
	border-bottom: 1px solid #d9d9d9;
	padding: 2em;
}

.announcements  li:nth-child(odd) {
	background-color:#f9f9f9;
}

article.letter {
	border: 1px solid red;
	width: 100%;
}

article.letter section {
	float: left;
	width: 50%;
	background: green;
}

article.letter section.first p {
	padding-right: 6em;
}

article.letter section.last p {
	padding-left: 6em;
}

article.letter p.salutation,
article.letter p.byebye {
	font-size: 2em;
}

article.letter p.byebye {
	text-align: center;
}
