body {
	padding-top: 40px;
	padding-bottom: 40px;
}

a {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

p.q {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0;
}

h2.q {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0;
}

h7 {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.navbar-fixed-top .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
}

.subnav-fixed {
	position: fixed;
	top: 56px;
	left: 0;
	right: 0;
	z-index: 1020;
	color:#999999;
	border-radius: 0;
}

.subhead {
	padding-bottom: 0;
	margin-bottom: 50px;
}

.subnav {
	width: 100%;
	height: 36px;
	background-color: #333333;
	background-repeat: repeat-x;
	border: 1px solid #333333;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

.home-nav a {
	display: block;
	border: 20px solid #eee;
	border-radius: 10px;
	text-indent: -999em;
	margin-bottom: 30px;
	opacity: 0.65;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-moz-background-size:cover; 
	-webkit-background-size:cover; 
	background-size: 100% cover;
}

.home-nav a:hover {
	opacity: 1;
}

.home-nav .contact,
.home-nav .about {
	/*width: 1130px;*/
	height: 177px;
}

.home-nav .prealgebra,
.home-nav .algebra, 
.home-nav .girlstennis,
.home-nav .boystennis {
	/*width: 530px;*/
	height: 177px;
}

.home-nav .contact {
	background-image: url(/images/contact.jpg);
}

.home-nav .about {
	background-image: url(/images/about.jpg);
}

.home-nav .prealgebra {
	background-image: url(/images/prealgebra.jpg);
}

.home-nav .algebra {
	background-image: url(/images/algebra.jpg);
}

.home-nav .girlstennis {
	background-image: url(/images/girlstennis.jpg);
}

.home-nav .boystennis {
	background-image: url(/images/boystennis.jpg);
}
