<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mr. Sabado :: {{page.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/mrsabado.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body data-spy="scroll" data-target="subnav" data-offset="100" data-twttr-rendered="true">
	<!-- Fixed Navbar
	================================= -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/about.html">Mr. Sabado</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li{% if page.navactive == 'overview' %} class="active"{% endif %}><a href="/">Overview</a></li>
						<li{% if page.navactive == 'prealgebra' %} class="active"{% endif %}><a href="/prealgebra.html">Pre-Algebra</a></li>
						<li{% if page.navactive == 'algebra' %} class="active"{% endif %}><a href="/algebra.html">Algebra One</a></li>
						<li{% if page.navactive == 'girlstennis' %} class="active"{% endif %}><a href="/girlstennis.html">Girls Tennis</a></li>
						<li{% if page.navactive == 'boystennis' %} class="active"{% endif %}><a href="/boystennis.html">Boys Tennis</a></li>
						<li{% if page.navactive == 'contact' %} class="active"{% endif %}><a href="/contact.html">Contact</a></li>
						<li class="divider-vertical"></li>
						<li{% if page.active == 'whs' %} class="active"{% endif %}><a href="http://www.woodbridgehigh.org/" target="_blank">WHS</a></li>
						<li{% if page.active == 'iusd' %} class="active"{% endif %}><a href="http://iusd.org/" target="_blank">IUSD</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	
	<header class="jumbotron subhead" id="overview">
		<div class="subnav subnav-fixed">
			<div class="container">
				<ul class="nav nav-pills">
					<li{% if page.subactive == 'girlstennis' %} class="active"{% endif %}><a href="/girlstennis.html">Announcements</a></li>
				<!--	<li{% if page.subactive == 'gtcontract' %} class="active"{% endif %}><a href="/pdf/gtcontract.pdf" target="_blank">Team Contract and Expectations</a></li> -->
					<li{% if page.subactive == 'gtcalendar' %} class="active"{% endif %}><a href="/pdf/gtschedule.pdf" target="_blank">2012 Match Schedule</a></li>
					<li{% if page.subactive == 'gtgrades' %} class="active"{% endif %}><a href="/gtgrades.html">Grades</a></li>
					<li{% if page.subactive == 'padocuments' %} class="active"{% endif %} class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#.html">Documents
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
						    <li>
								<a href="/pdf/girlstryapp.pdf" target="_blank">Tryout Application</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="http://www.gowoodbridge.com/Athlete%20Privacy/privacy.html" target="_blank">Athlete Priavcy</a>
							</li>
							<li>
								<a href="http://www.gowoodbridge.com/athletic_screenings/screenings.html" target="_blank">Athletic Clearance Forms</a>
							</li>
							<li>
								<a href="http://www.gowoodbridge.com/cofc.html" target="_blank">Code of Conduct</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="http://iusd.org/parent_resources/AthleticProgram-AthleticsHandbook.pdf" target="_blank">Student Athlete Handbook</a>
							</li>
							<li>
								<a href="http://iusd.org/parent_resources/AthleticProgram-ParentsHandbook.pdf" target="_blank">Parent Handbook</a>
							</li>		 
						</ul>	
					</li>
					<li{% if page.active == 'gowoodbridge' %} class="active"{% endif %}><a href="http://www.gowoodbridge.com" target="_blank">Woodbridge Athletics</a></li>
					<li{% if page.active == 'gtvideos' %} class="active"{% endif %}><a href="http://www.tennischannel.com/omc/" target="_blank">One Minute Clinics</a></li>
				</ul>
			</div>
		</div>
	</header>


		{{content}}
		<div class="container">
			<footer class="footer">
				<p>Designed and built with all the care in the world by &copy; Saba.do 2012</p>
			</footer>
		</div>

	<!-- Le javascript
	================================================== -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
